@use "primeicons/primeicons.css";
@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

@layer tailwind {
    @import "tailwindcss";
}

/* Custom styles */
@layer base {
  html {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    font-feature-settings: 'cv01', 'cv03', 'cv04', 'cv11';
  }
  
  body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }
}

@layer components {
  /* Add your custom component styles here */
}